:root {
  --danger-color: #ff6263;
  --info-color: #207398;
  --red-color: red;
  --color-dark: #51ff0d;
  --color-sucess: #03203c;
  --color-vibrant: #e07c24;

  --color-yellow: #e5d68a;
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #03203C;
  color: var(--color-dark);
}

ul {
  list-style-type: none;
}
a {
  color: var(--color-dark);
}

/* header */

.hero{
  height: 10vh;
  background-color: var(--color-sucess);
  text-align: center;
  color: var(--color-dark);
  font-weight: bolder;
}

/* image */
.city-image {
  display: flex;
  margin: 0 auto;
  object-fit: cover;
  width: 30%;

  height: 15vh;
}
/* section  */
.section {
  padding: 0rem 1.5rem;
}
.container {
}
.container-center {
  max-width: 450px;
  background-color: var(--color-yellow);
  padding: 1rem;
  border-radius: 1rem;

}
.section-center {
  margin: 2rem auto;
}
.hero-heading{
  margin-top: 1rem;
}
button {
  background-color: #758283;
  color: var(--color-dark);

  padding: 0.3rem;
  border-radius: 1rem;
}
.btn-center {
  padding: 0.3rem;
  margin: 0.2rem 0rem;
  display: inline !important;
}
.earth-location {
  color: #FFFF00;
  text-align: center;
  margin-bottom: 0.6rem;
}
/* footer */
.list-item-inline {
  display: inline;
  margin: 0 1rem;
  padding: 1rem;
  cursor: pointer;
}

footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: var(--color-sucess);

  text-align: center;
  padding: 0.3rem 0rem;
  margin-bottom: 0.1rem;
}
.footer-header {
  margin-bottom: 1rem;
  font-size: larger;
}
